<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         id="WebApp_ID" version="2.5">
	<display-name>Issue Tracker</display-name>
	<description>JEE training project implementation by Dzmitry Charnavoki</description>
	<servlet>
		<servlet-name>MainController</servlet-name>
		<servlet-class>org.training.dcharnavoki.issuetracker.controller.MainController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>org.training.dcharnavoki.issuetracker.controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>org.training.dcharnavoki.issuetracker.controller.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>IssueController</display-name>
		<servlet-name>IssueController</servlet-name>
		<servlet-class>org.training.dcharnavoki.issuetracker.controller.IssueController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>/Main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IssueController</servlet-name>
		<url-pattern>/Issue</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/e404.html</location>
	</error-page>
<!--	<filter>
		<display-name>Identification</display-name>
		<filter-name>Identification</filter-name>
		<filter-class>org.training.dcharnavoki.issuetracker.filter.Identification</filter-class>
	</filter>
 	<filter-mapping>
		<filter-name>Identification</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>-->
	 <welcome-file-list>
		<welcome-file>Main</welcome-file>
	</welcome-file-list>
</web-app>